<!DOCTYPE html>
<html>
  <head>
    <title>My Dashboard</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/dashboard.css' />
  </head>
  <body ng-app="mySite">
	<header class="header">
		<div class="brand">
			<object type="image/svg+xml" data="/img/logo.svg"></object>
		</div>
		<div class="search">
			<i class="fa fa-search"></i>
			<input class="not-transparent" type="text" name="search" value="" placeholder="Search">
		</div>
	</header>
	<section class="fullscreen bg-image"></section>
	<section class="side-menu">
		<ul ng-controller="MainController">
			<a ng-href="#/"><li ng-class="{ active: isActive('/')}"><img class="thunder" src="/img/thunder.svg" alt=""></li></a>
			<a ng-href="#/messages"><li ng-class="{ active: isActive('/messages')}"><img src="/img/messages.svg" alt=""></li></a>
			<a ng-href="#settings/"><li ng-class="{ active: isActive('/settings')}"><img src="/img/gear.svg" alt=""></li></a>
			<a ng-href="#" ng-click="logout()"><li><img src="/img/power.svg" alt=""></li></a>
		</ul>
	</section>
	<section class="main-container" ng-view>
	</section>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
		<script src="js/vendor/angular-route.min.js"></script>
		<script src="js/app/index.js"></script>

		<script src="js/vendor/moment.min.js"></script>
		<script src="js/vendor/angular-moment.js"></script>
  </body>
</html>
