<!DOCTYPE html>
<html>
  <head>
    <title>Nick Rossolatos | Full Stack Developer</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <meta name = "viewport"  content="minimal-ui width=device-width, user-scalable=no, initial-scale=1.0,maximum-scale=1.0">
    <meta name = "msapplication-tap-highlight" content="no">
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/skull.css' />
  </head>
  <body>
	<header class="header">
		<div class="brand">
			<img src="/img/logo.svg"/>
		</div>
		<div class="name">
			<h1>Nick Rossolatos</h1>
		</div>
		
		<ul class="nav-menu">
			<li><a href="mailto:nickrossolatos@gmail.com" target="_blank"><i class="fa fa-envelope-o"></i></a></li>
			<li><a href="https://gr.linkedin.com/in/nikosrossolatos" target="_blank"><i class="fa fa-linkedin"></i></a></li>
			<li><a href="http://behance.com/nickrossolatos" target="_blank"><i class="fa fa-behance"></i></a></li>
		</ul>
	</header>
	<section class="fullscreen bg-image"></section>
	<section class="chat-input">
		<div class="skull-avatar" id='skull'>
		</div>
		<form id="typing-form" data-channel="<%=channel%>">
			<span class="input">
				<input type="text" class="input-field" id="input-1">
				<label for="input-1" class="input-label">
					<span class="input-label-content">What would you want of my master?</span>
				</label>
				<span class="input-sub">Try typing anything</span>
			</span>
		</form>
	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script type="text/javascript" src="/dist/js/bundle.js"></script>
  </body>
</html>
