
<section class="personas">
	<nav class="clearfix">
		<p>{{conversations.length}} chats</p>
		<div class="filter">
			<select name="filter" class="prm-color">
				<option value="online">Online</option>
				<option value="unread">Unread</option>
			</select>	
			<i class="fa fa-angle-down prm-color"></i>
		</div>
	</nav>
	<ul class="personas-list" >
		<li class="persona" ng-repeat="conversation in conversations | orderBy : '-last_active' " ng-class="{unread: conversation.unread}" ng-click="loadChat(conversation.persona_id._id)">
			<h3>{{conversation.persona_id.name || 'Anon'}}</h3>
			<p>{{conversation.persona_id.email}}</p>
			<p>Active: <span am-time-ago="conversation.last_active"></span></p>
		</li>
	</ul>
</section>
<section class="persona-chat">
	<header class="bg-prm-color--dark white">
		<div class="persona-title">
			<h1>{{chat.persona_id.name || 'Anon'}}</h1>
			<p>{{chat.persona_id.email || 'no@email.found'}}</p>
		</div>
	</header>
	<div class="chat" scroll-glue>
		<div class="message" ng-repeat="message in chat.messages">
			<p>{{message.content}}</p>
			<span class="livestamp" am-time-ago="message.date_sent"></span>
		</div>
	</div>
	<footer class="chat-actions">
		<form action="#" ng-submit="sendMessage()">
			<input type="text" ng-model="response" placeholder="Type a message here">
		</form>
	</footer>
</section>